<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результат голосования</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body style="background-color: #f8f9fa; color: black; font-family: Arial, sans-serif;">

<h1 class="my-4 text-center">Спасибо за ваш выбор!</h1>
<p class="my text-center" style="font-size: 18px; color: green;">{{ message }}</p>

</body>
</html>
